$blue : rgb(0, 150, 230);
$deepgray : rgba(191,191,191,1.00);
$lightgray : rgba(240,240,240,1.00);
$deepgreen :rgba(106,200,104,1.00);
$lightgreen :rgba(236,255,234,1.00);

* {
	padding: 0;
	margin: 0;
}
body {
	font-size: 0.8em;
	min-width: 620px;
}
td {
	padding: 3px;
}
#head {
	background-color: $lightgreen;
	color: $deepgreen;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border: rgba(227,252,225,1.00) 2px solid
}

#index-table {
	padding: 10px;
	display: none;
}

#list-table {
	padding: 20px;
	display: block;
}

.tab {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: -5px;
	display: inline-block;
	cursor: pointer;
}

.tab-on {
	border-top: 2px solid $deepgray;
	border-right: 2px solid $deepgray;
	border-left: 2px solid $deepgray;
	color: $blue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: content-box;
}
.tab-off {
	border-bottom: 2px solid $deepgray;
	box-sizing: border-box;
}
.empty {
	position: absolute;
	width: 100%;
	height: 30px;
	top: 0px;
	left:  0px;
	box-sizing: border-box;
	padding-left: 193.7px;
	z-index: -100;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.middle {
	vertical-align: middle;
}
.text-blue {
	color: $blue;
}
.table-dark {
	border: 1px solid $deepgray;
	background-color: $lightgray;
}
.table-light {
	border: 1px solid $deepgray;
}
.select {
	width: 120px;
	line-height: 30px;
	height: 30px;
	border: 1px solid $deepgray;
}
.inline-block {
	display: inline-block;
	margin-left: 5px;
	border-radius: 3px;
	margin-right: 5px;
}
.inline {
	display: inline;
	margin-right: 5px;
}

.lable {
	width: auto;
}
.btn {
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding-left: 7px;
	padding-right: 7px;
	cursor: pointer;
}
#search {
	background-color: $blue;
	color: rgba(255,255,255,1.00);
}
#same {
	background-color: $lightgray;
	border: 1px solid $deepgray;
}
